body {
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Changed to flex-start to ensure content is visible from the top */
    height: max-content;
    margin: 0;
    padding: 20px 0; /* Add some padding to ensure the content isn't flush against the top */
}

.job-posting {
    color: white;
    background-color: #ffffff3d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.section1, .section2, .section3{
    text-align: left;
    max-width: 75vw;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}
.job-frame {
    border: 5px solid #3498db;
    padding: 20px;
    border-radius: 10px;
}

.job-frame h1, 
.job-frame h2, 
.job-frame h3, 
.job-frame h4 {
    margin: 10px 0;
    color: #64c1ff;
}

.job-frame p {
    line-height: 1.6;
}

.job-frame ul {
    list-style-type: disc;
    padding-left: 20px;
}

.job-frame ul li {
    margin-bottom: 10px;
}
.button-apply{
    background-color: #3498db;
    margin-left: 0;
}
.footer-class {
    width: 100vw;
}

@media (min-width:200px) and (max-width: 600px) {

    .section1, .section2, .section3{
        max-width: 99vw;
        background-color: #ffffff00;
        padding: 2px;
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin: 85px auto 10px auto;
    }

    .job-frame {
        border: 5px solid #3498db;
        padding: 5px;
        border-radius: 10px;
    }
    
    .job-frame h1, 
    .job-frame h2, 
    .job-frame h3, 
    .job-frame h4 {
        margin: 10px 0 10px 0;
        color: #64c1ff;
        font-size: 12px;
    }
    
    .job-frame p {
        line-height: 1.6;
        font-size: 10px;
    }
    
    .job-frame ul {
        font-size: 10px;
        list-style-type: disc;
        padding-left:25px;
    }
    
    .job-frame ul li {
        margin-bottom: 10px;
    }
    .button-apply{
        background-color: #3498db;
        margin-left: 0;
    }

}